# RocksDB state
rocksdb_state/
rocksdb_state_worker-default/
rocksdb_state_worker1/
rocksdb_state_worker2/
# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
week2_env/

# Node modules
frontend/node_modules/

# RocksDB state
rocksdb_state/
rocksdb_state_worker-default/
rocksdb_state_worker1/
rocksdb_state_worker2/
rocksdb_state_week4/
rocksdb_state_week4/